
/**
  * Name: ICOLand | ICO landing page & ICO Crypto Next Js Template
  * Version: 1.0.0
  * Author: Themesflat
  * Author URI: http://www.themesflat.com   
*/
@use "./scss/" as *;
// font
@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");

@import "./scss/components/reset.scss";
@import "./scss/components/header.scss";
@import "./scss//components/about.scss";
@import "./scss/components/feature.scss";
@import "./scss/components/roadmap.scss";
@import "./scss/components/token-details.scss";
@import "./scss/components/team.scss";
@import "./scss/components/faq.scss";
@import "./scss/components/document.scss";
@import "./scss/components/creation.scss";
@import "./scss/components/footer.scss";
@import "./scss/components/gotop.scss";
